:root {
    --main-background-color: #ffffff
    --second-background-color: #f4f4fd
    --third-background-color: #2e2f42
    --main-title-cololr: #404bbf
    --second-title-cololr: #2e2f42
    --third-title-cololr: #4d5ae5
    --main-text-color: #434455
}

body {
    font-family: Roboto, sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}


.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.list-style {
    list-style: none;
}

.text-decoration {
    text-decoration: none;
}

.header-logo {
    font-family: Raleway, sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--third-title-color);
    text-decoration: none;
}

.header-logo-studio {
    color: var(--third-background-color);
}

.header-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--third-background-color);
}

.header-item-menu:hover {
    color: var(--main-title-color);
}

.header-item-menu:focus {
    color: var(--main-title-color);
}

.header-studio {
    color: var(--third-background-color);
}

.address-header {
    font-style: normal;
}

.header-address {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
}

/* section1 */
.section-team {
    background-color: var(--second-background-color);
}
.section-class-list {
    background-color: var(--main-background-color);
}
.section-effective {
    background-color: var(--third-background-color);
}

.approach {
    color: var(--third-background-color);
}
.section-effective-contents {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    background: var(--third-background-color);
    color: var(--main-background-color);
}

.section-effective-btn {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    background: var(--third-title-color);
    color: var(--main-background-color);
}

.section-effective-btn:hover {
    background-color: var(--main-title-color);
}

.section-effective-btn:focus {
    background-color: var(--main-title-color);
}



.portfolio-button {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--third-title-color);
    background: var(--second-background-color);
    cursor: pointer;
}

.portfolio-button:hover {
    color: var(--main-background-color);
    background-color: var(--main-title-color);
}

.portfolio-button:focus {
    color: var(--main-background-color);
    background-color: var(--main-title-color);
}

/* section2 */
.approach-second-contents {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--third-background-color);
}

.approach-paragraph {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
}

/* section3 */

.section-team {
    background-color: var(--second-background-color);
}

.section-class-list {
    background-color: var(--main-background-color);
}

.section-our-team {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--third-background-color);
}


.our-team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--third-background-color);
}

.our-team {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
}

/* footer */
.footer {
    background-color: var(--third-background-color);
}
.footer-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--third-title-color);
}

.footer-logo-studio {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--second-background-color);
}

.footer-increase {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--second-background-color);
    background: var(--third-background-color);
}

/* portfolio */
.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.list-photo-paragraph {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
}

.section-team-item {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--third-background-color);
}